.menu-categories{
    margin: 50px 0;
}

.menu-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu-category{
    
}

.menu-item{
    width:25%;
    /*margin-bottom: 30px;*/
}
form{
    margin-bottom: 30px;
}
menu-category-btn{
    border: 0px;
}
.menu-category-img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    background-image: url("../img/menu-tile.jpg");
}

.menu-category-img:hover{
    box-shadow: 0px 0px 5px 2px #ffffffdc;
}
.menu-category-title {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1b1b1be4;
    color: white;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
    border-radius: 5px 5px 0 0;
}